@keyframes shoulderInner {
	/*
    0% {
		bottom: -60cqh;
		right: 10cqh;
	}
    */

	//7.142857142857143% {
	0%,
	100% {
		bottom: -50cqh;
		right: 5cqh;
	}
	// frame 02

	/*
    14.28571428571429% {
		bottom: -40cqh;
		right: 5cqh;
	}
    */

	/*
    21.42857142857143% {
		bottom: -30cqh;
		right: 25cqh;
	}
    */

	/*
    28.57142857142857% {
		bottom: -30cqh;
		right: 25cqh;
	}
    */

	/*
    35.71428571428572% {
		bottom: -50cqh;
		right: 10cqh;
	}
    */

	/*
    42.85714285714286% {
		bottom: -65cqh;
		right: 15cqh;
	}
    */

	/*
    50% {
		bottom: -45cqh;
		right: -10cqh;
	}
    */

	/*
    57.14285714285714% {
		bottom: -45cqh;
		right: -30cqh;
	}
    */

	/*
    64.28571428571429% {
		// correct
		bottom: -45cqh;
		right: -50cqh;
	}
    */

	/*
    71.42857142857143% {
		bottom: -45cqh;
		right: -50cqh;
	}
    */

	/*
    78.57142857142857% {
		bottom: -50cqh;
		right: -10cqh;
	}
    */

	/*
    85.71428571428572% {
		bottom: -35cqh;
		right: -40cqh;
	}
    */

	/*
    92.85714285714286% {
		bottom: -35cqh;
		right: -0cqh;
	}
    */

	/*
    100% {
		bottom: -50cqh;
		right: 0cqh;
	}
    */

	/*
	0%,
    100% {
		bottom: -45cqh;
		right: 5cqh;
	}
    */
}





@keyframes hindInner {
	/*
    0% {
		left: 40cqh;
		top: 50cqh;
	}
    */

	//7.142857142857143% {
	0%,
	100% {
		left: 40cqh;
		top: 50cqh;
	}
	// frame 02

	/*
    14.28571428571429% {
		left: 40cqh;
		top: 50cqh;
	}
    */

	/*
    21.42857142857143% {
		left: 35cqh;
		top: 55cqh;
	}
    */

	/*
    28.57142857142857% {
		left: 45cqh;
		top: 55cqh;
	}
    */

	/*
    35.71428571428572% {
		left: 30cqh;
		top: 60cqh;
	}
    */

	/*
    42.85714285714286% {
		left: 25cqh;
		top: 70cqh;
	}
    */

	/*
    50% {
		left: 40cqh;
		top: 70cqh;
	}
    */

	/*
    57.14285714285714% {
		left: 40cqh;
		top: 75cqh;
	}
    */

	/*
    64.28571428571429% {
		left: 45cqh;
		top: 80cqh;
	}
    */

	/*
    71.42857142857143% {
		left: 50cqh;
		top: 80cqh;
	}
    */

	/*
    78.57142857142857% {
		left: 30cqh;
		top: 75cqh;
	}
    */

	/*
    85.71428571428572% {
		left: 40cqh;
		top: 80cqh;
	}
    */

	/*
    92.85714285714286% {
		left: 30cqh;
		top: 75cqh;
	}
    */

	/*
    100% {
		left: 30cqh;
		top: 70cqh;
	}
    */

	/*
0%,
/*
100% {
		left: 30cqh;
		top: 70cqh;
}
*/
}


@keyframes neckPivot {

	/*
0.000000000000000% {
top: 0cqh;
right: -20cqh;
}
*/
	//7.142857142857143% {
	0%,
	100% {
		top: 5cqh;
		right: -15cqh;
	}
	// frame 02
	/*
14.28571428571429% {
top: 0cqh;
right: -10cqh;
}
*/
	/*
21.42857142857143% {
top: 0cqh;
right: -10cqh;
}
*/
	/*
28.57142857142857% {
top: -3cqh;
right: -25cqh;
}
*/
	/*
35.71428571428572% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
42.85714285714286% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
50.00000000000000% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
57.14285714285714% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
64.28571428571429% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
71.42857142857143% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
78.57142857142857% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
85.71428571428572% {
top: 0cqh;
right: -20cqh;
}
*/
	/*
92.85714285714286% {
top: 0cqh;
right: -20cqh;
}
*/

}

@keyframes shoulderOuter {
	/*
    0% {
		bottom: -35cqh;
		right: 5cqh;
	}
    */

	//7.142857142857143% {
	0%,
	100% {
		bottom: -35cqh;
		right: 20cqh;
	}
	// frame 02

	/*
    14.28571428571429% {
		bottom: -40cqh;
		right: 25cqh;
	}
    */

	/*
    21.42857142857143% {
		bottom: -30cqh;
		right: 15cqh;
	}
    */

	/*
    28.57142857142857% {
		bottom: -40cqh;
		right: 5cqh;
	}
    */

	/*
    35.71428571428572% {
		bottom: -50cqh;
		right: -25cqh;
	}
    */

	/*
    42.85714285714286% {
		bottom: -50cqh;
		right: -15cqh;
	}
    */

	/*
    50% {
		bottom: -50cqh;
		right: -45cqh;
	}
    */

	/*
    57.14285714285714% {
		bottom: -35cqh;
		right: -40cqh;
	}
    */

	/*
    64.28571428571429% {
		bottom: -30cqh;
		right: -30cqh;
	}
    */

	// correct
	/*
    71.42857142857143% {
		bottom: -40cqh;
		right: -20cqh;
	}
    */

	/*
    78.57142857142857% {
		bottom: -50cqh;
		right: -5cqh;
	}
    */

	/*
    85.71428571428572% {
		bottom: -60cqh;
		right: -0cqh;
	}
    */

	/*
    92.85714285714286% {
	}
    */

	/*
    100% {
		bottom: -60cqh;
		right: 10cqh;
	}
    */
}



@keyframes hindOuter {
	/*
    0% {
		//left: 45cqh;
		//top: 50cqh;
	}
    */

	//7.142857142857143% {
	0%,
	100% {
		left: 40cqh;
		// top: 50cqh;
	}
// frame 02

	/*
    14.28571428571429% {
		left: 40cqh;
		// top: 50cqh;
	}
    */

	/*
    21.42857142857143% {
		left: 40cqh;
		top: 55cqh;
	}
    */

	/*
    28.57142857142857% {
		left: 35cqh;
		top: 55cqh;
	}
    */

	/*
    35.71428571428572% {
		left: 40cqh;
		top: 40cqh;
	}
    */

	/*
    42.85714285714286% {
		left: 40cqh;
		top: 65cqh;
	}
    */

	/*
    50% {
		left: 40cqh;
		top: 70cqh;
	}
    */

	/*
    57.14285714285714% {
		left: 40cqh;
		top: 75cqh;
	}
    */

	/*
    64.28571428571429% {
		left: 40cqh;
		top: 80cqh;
	}
    */

	/*
    71.42857142857143% {
		left: 40cqh;
		top: 80cqh;
	}
    */

	/*
    78.57142857142857% {
		left: 50cqh;
		top: 80cqh;
	}
    */

	/*
    85.71428571428572% {
		left: 40cqh;
		top: 70cqh;
	}
    */

	/*
    92.85714285714286% {
		left: 30cqh;
		top: 70cqh;
	}
    */

	/*
    100% {
		left: 30cqh;
		top: 70cqh;
	}
    */
}

@keyframes tailPivot {
	/*
0% {
		left: -10cqh;
		top: 17cqh;
	}
    */

	//7.142857142857143% {
	0%,
	100% {
		left: -10cqh;
		top: 21cqh;
	}
	// frame 02

	/*
	14.28571428571429% {
		left: -10cqh;
		top: 22cqh;
	}
		    */

	/*
	21.42857142857143% {
		left: -10cqh;
		top: 29cqh;
	}
		    */

	/*
	28.57142857142857% {
		left: -10cqh;
		top: 29cqh;
	}
		    */

	/*
	35.71428571428572% {
		left: -10cqh;
		top: 17cqh;
	}
		    */

	/*
	42.85714285714286% {
		left: -10cqh;
		top: 17cqh;
	}
		    */

	/*
	50.00000000000000% {
		left: -10cqh;
		top: 35cqh;
	}
		    */

	/*
	57.14285714285714% {
		left: -5cqh;
		top: 30cqh;
	}
		    */

	/*
	64.28571428571429% {
		left: 0cqh;
		top: 30cqh;
	}
		    */

	/*
	71.42857142857143% {
		left: 0cqh;
		top: 30cqh;
	}
		    */

	/*
	78.57142857142857% {
		left: -10cqh;
		top: 17cqh;
	}
		    */

	/*
	85.71428571428572% {
		left: 0cqh;
		top: 27cqh;
	}
		    */

	/*
	92.85714285714286% {
		left: -10cqh;
		top: 17cqh;
	}
		    */

	/*
	100% {
		left: -10cqh;
		top: 17cqh;
	}
		*/
}