#runPauseButton {
  width: 50px;
  aspect-ratio: 1;
  font-size: 16px;
}



.responsive-container {
	max-width: 1280px;
	width: 100%;
	aspect-ratio: ~"128 / 100";
	background-image: url(https://assets.codepen.io/1695918/s-l1600.webp);
	background-repeat: no-repeat;
	background-size: 400%;
	container-type: size;
	animation: photo var(--frame-duration) var(--animation-iteration-count) var(--ease) var(--animation-fill-mode);
	position: relative;
	background-position-x: 98.2%;
	background-position-y: 81.5%;

	.jockey {
		width: 80px;
		aspect-ratio: 1;
		border: 5px solid yellow;
		position: absolute;
		top: 17%;
		left: 59.5%;
		border-radius: 50%;
	}

	.film {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10cqh;
		background-color: rgba(0, 0, 0, 0.5);
		border-top: 1cqh solid #000;
	}

	.earth {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 7.85cqh;
		background-color: rgba(0, 0, 255, 0.25);
		border-top: 1cqh solid #000;

		.counter {
			color: white;
			background-color: #000;
			width: 2em;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 1rem;
			&.run {
				animation: counter var(--frame-duration) var(--animation-iteration-count) var(--ease);
				counter-increment: frame-number var(--num);

				&:before {
					content: counter(frame-number);
				}
			}
		}
	}

	@keyframes counter {
		// ***** ***** start ***** ***** //

		// ***** ***** frame 00 ***** ***** //
		0% {
			--num: 16;
		}

		// ***** ***** frame 01 ***** ***** //
		6.25% {
			--num: 1;
		}

		// ***** ***** frame 02 ***** ***** //
		12.5% {
			--num: 2;
		}

		// ***** ***** frame 03 ***** ***** //
		18.75% {
			--num: 3;
		}

		// ***** ***** frame 04 ***** ***** //
		25% {
			--num: 4;
		}

		// ***** ***** frame 05 ***** ***** //
		31.25% {
			--num: 5;
		}

		// ***** ***** frame 06 ***** ***** //
		37.5% {
			--num: 6;
		}

		// ***** ***** frame 07 ***** ***** //
		43.75% {
			--num: 7;
		}

		// ***** ***** frame 08 ***** ***** //
		50% {
			--num: 8;
		}

		// ***** ***** frame 09 ***** ***** //
		56.26% {
			--num: 9;
		}

		// ***** ***** frame 10 ***** ***** //
		62.5% {
			--num: 10;
		}

		// ***** ***** frame 11 ***** ***** //
		68.75% {
			--num: 11;
		}

		// ***** ***** frame 12 ***** ***** //
		75% {
			--num: 12;
		}

		// ***** ***** frame 13 ***** ***** //
		81.25% {
			--num: 13;
		}

		// ***** ***** frame 14 ***** ***** //
		87.5% {
			--num: 14;
		}

		// ***** ***** frame 15 ***** ***** //
		93.75% {
			--num: 15;
		}

		// ***** ***** frame 16 ***** ***** //
		100% {
			--num: 16;
		}

		// ***** ***** end ***** ***** //
	}
}