@keyframes photo {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		background-position-x: 0.9%;
		background-position-y: 12.2%;
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		background-position-x: 33.5%;
		background-position-y: 11.9%;
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		background-position-x: 65.5%;
		background-position-y: 12%;
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		background-position-x: 97.8%;
		background-position-y: 12%;
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		background-position-x: 1.7%;
		background-position-y: 35.1%;
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		background-position-x: 34.1%;
		background-position-y: 35.25%;
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		background-position-x: 65.8%;
		background-position-y: 35.25%;
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		background-position-x: 97.8%;
		background-position-y: 35.25%;
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		background-position-x: 1.5%;
		background-position-y: 58.6%;
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		background-position-x: 33.5%;
		background-position-y: 58.3%;
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		background-position-x: 65.5%;
		background-position-y: 58.4%;
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		background-position-x: 97.3%;
		background-position-y: 58.5%;
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		background-position-x: 1.5%;
		background-position-y: 81.4%;
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		background-position-x: 33.75%;
		background-position-y: 81.5%;
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		background-position-x: 66%;
		background-position-y: 81.5%;
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		background-position-x: 98.2%;
		background-position-y: 81.5%;
	}

	// ***** ***** end ***** ***** //
}