@keyframes photo {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		background-position-x: 0.9%;
		background-position-y: 12.2%;
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		background-position-x: 33.5%;
		background-position-y: 11.9%;
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		background-position-x: 65.5%;
		background-position-y: 12%;
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		background-position-x: 97.8%;
		background-position-y: 12%;
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		background-position-x: 1.7%;
		background-position-y: 35.1%;
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		background-position-x: 34.1%;
		background-position-y: 35.25%;
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		background-position-x: 65.8%;
		background-position-y: 35.25%;
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		background-position-x: 97.8%;
		background-position-y: 35.25%;
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		background-position-x: 1.5%;
		background-position-y: 58.6%;
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		background-position-x: 33.5%;
		background-position-y: 58.3%;
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		background-position-x: 65.5%;
		background-position-y: 58.4%;
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		background-position-x: 97.3%;
		background-position-y: 58.5%;
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		background-position-x: 1.5%;
		background-position-y: 81.4%;
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		background-position-x: 33.75%;
		background-position-y: 81.5%;
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		background-position-x: 66%;
		background-position-y: 81.5%;
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		background-position-x: 98.2%;
		background-position-y: 81.5%;
	}
// ***** ***** end ***** ***** //
}