@keyframes photo {

/* ***** frame 01 ***** */
/*
0% {
background-position-x: 0.9%;
background-position-y: 12.2%;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
background-position-x: 33.5%;
background-position-y: 11.9%;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
background-position-x: 65.5%;
background-position-y: 12%;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
background-position-x: 97.8%;
background-position-y: 12%;
}

*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
background-position-x: 1.7%;
background-position-y: 35.1%;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
background-position-x: 34.1%;
background-position-y: 35.25%;
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
background-position-x: 65.8%;
background-position-y: 35.25%;
}
/*
/* ***** frame 08 ***** */
/*
50% {

background-position-x: 97.8%;
background-position-y: 35.25%;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
background-position-x: 1.5%;
background-position-y: 58.6%;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
background-position-x: 33.5%;
background-position-y: 58.3%;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
background-position-x: 65.5%;
background-position-y: 58.4%;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
background-position-x: 97.3%;
background-position-y: 58.5%;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
background-position-x: 1.5%;
background-position-y: 81.4%;
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
background-position-x: 33.75%;
background-position-y: 81.5%;
}
*/
/* ***** frame 15 ***** */
/*
100% {
background-position-x: 66%;
background-position-y: 81.5%;
}
*/
}