@keyframes upperInnerFrontLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(40deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(30deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(25deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(345deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(320deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(280deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(270deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(266deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(285deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(300deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(315deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(325deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(355deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(5deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(28deg);
}
*/
}

@keyframes lowerInnerFrontLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(10deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(25deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(30deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(65deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(50deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(67deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(60deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(54deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(50deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(0deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(345deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(0deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(350deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(0deg);
}
*/

}

@keyframes innerFrontFoot {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(0deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(40deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(30deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(55deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(70deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(54deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(55deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(48deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(355deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(20deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(8deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(0deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(0deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(0deg);
}
*/
}

@keyframes innerFrontHoof {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(355deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(5deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(15deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(40deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(55deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(59deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(0deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(5deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(35deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(3deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(350deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(340deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(300deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(300deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(300deg);
}
*/
}