//      _                 _     _             _                       
//  ___| |__   ___  _   _| | __| | ___ _ __  (_)_ __  _ __   ___ _ __ 
// / __| '_ \ / _ \| | | | |/ _` |/ _ \ '__| | | '_ \| '_ \ / _ \ '__|
// \__ \ | | | (_) | |_| | | (_| |  __/ |    | | | | | | | |  __/ |   
// |___/_| |_|\___/ \__,_|_|\__,_|\___|_|    |_|_| |_|_| |_|\___|_|   


@keyframes shoulderInner {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		bottom: -60cqh;
		right: 10cqh;
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		bottom: -50cqh;
		right: 5cqh;
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		bottom: -40cqh;
		right: 5cqh;
		
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		bottom: -30cqh;
		right: 25cqh;
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		bottom: -30cqh;
		right: 25cqh;
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		bottom: -62cqh;
		right: 29cqh;
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		bottom: -65cqh;
		right: 15cqh;
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		bottom: -65cqh;
		right: -6cqh;
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		bottom: -45cqh;
		right: -30cqh;
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		// correct
		bottom: -48cqh;
		right: -50cqh;
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		bottom: -51cqh;
		right: -53cqh;
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		bottom: -50cqh;
		right: -48cqh;
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		bottom: -35cqh;
		right: -35cqh;
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
//bottom: -59cqh;
//right: -0cqh;
bottom: -40cqh;
right: -2cqh;

	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		bottom: -50cqh;
		right: 7cqh;
	}
// ***** ***** frame 16 ***** ***** //
100% {
		bottom: -32cqh;
		right: 27cqh;
	}
// ***** ***** end ***** ***** //
}

@keyframes upperInnerFrontLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(40deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(30deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		//transform: rotate(25deg);
				transform: rotate(31deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(345deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(320deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(280deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(270deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(266deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(285deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(300deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(315deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(325deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(355deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(8deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(28deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(351deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes lowerInnerFrontLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(10deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(25deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(30deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(65deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(50deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(67deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(60deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(54deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(50deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(0deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(345deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(350deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(30deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(42deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes innerFrontFoot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(40deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(30deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(55deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(70deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(54deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(55deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(48deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(355deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(20deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(8deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(39deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(62deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes innerFrontHoof {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(355deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(5deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(15deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(40deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(55deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(59deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(5deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(35deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(3deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(350deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(340deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(300deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(17deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(300deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(30deg);
	}
// ***** ***** end ***** ***** //
}