@keyframes upperOuterFrontLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(355deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(325deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(320deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(300deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(290deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(295deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(300deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(319deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(335deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(5deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(25deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(15deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(355deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(22deg);
}
*/
}

@keyframes lowerOuterFrontLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(60deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(50deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(75deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(20deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(20deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(12deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(5deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(0deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(0);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(345deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(355deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(77deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(0deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(70deg);
}
*/

}

@keyframes outerFrontFoot {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(40deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(60deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(40deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(50deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(35deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(17deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(5deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(359deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(352deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(0deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {

transform: rotate(0deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(0deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(25deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(25deg);
}
*/
}

@keyframes outerFrontHoof {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(45deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(40deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(40deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(30deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(10deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(10deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(10deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(336deg);
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
transform: rotate(350deg);
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(335deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(310deg);
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
transform: rotate(0deg);
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(15deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(305deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(15deg);
}
*/

}