//     _             _    _                    _           
//  __| |_  ___ _  _| |__| |___ _ _   ___ _  _| |_ ___ _ _ 
// (_-< ' \/ _ \ || | / _` / -_) '_| / _ \ || |  _/ -_) '_|
// /__/_||_\___/\_,_|_\__,_\___|_|   \___/\_,_|\__\___|_|  

@keyframes shoulderOuter {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		bottom: -35cqh;
		right: 5cqh;
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		bottom: -35cqh;
		right: 20cqh;
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		//bottom: -30cqh;
		//right: 25cqh;
		bottom: -35cqh;
    right: 25cqh;
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		bottom: -30cqh;
		right: 15cqh;
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		bottom: -40cqh;
		right: 5cqh;
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		bottom: -47cqh;
		right: -12cqh;
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		bottom: -50cqh;
		right: -15cqh;
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		bottom: -50cqh;
		right: -45cqh;
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		bottom: -35cqh;
		right: -35cqh;
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		bottom: -28cqh;
		right: -30cqh;
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		bottom: -37cqh;
		right: -16cqh;
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		bottom: -50cqh;
		right: -5cqh;
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		bottom: -60cqh;
		right: -0cqh;
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		//bottom: -50cqh;
		//right: 8cqh;
bottom: -50cqh;
right: 13cqh;
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
bottom: -42cqh;
    right: 9cqh;
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		bottom: -57cqh;
		right: 10cqh;
	}
		
}


@keyframes upperOuterFrontLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(355deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(325deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(298deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(300deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(290deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(295deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(300deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(319deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(335deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(5deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(25deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(42deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(41deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		//transform: rotate(6deg);
		transform: rotate(27deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(26deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(41deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes lowerOuterFrontLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(60deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(50deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(75deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(20deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(20deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(12deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(5deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(0deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(0);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(345deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(355deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(351deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(0deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(0deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(0deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(9deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes outerFrontFoot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(40deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(60deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(40deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(50deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(35deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(17deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(5deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(359deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(352deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(0deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {

		transform: rotate(0deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(0deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(25deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(0deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(4deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(4deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes outerFrontHoof {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(45deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(40deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(40deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(30deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(10deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(10deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(10deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(336deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(350deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(335deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(310deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(0deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(15deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(305deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(-50deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(342deg);
	}
// ***** ***** end ***** ***** //
}