//     _             _    _                    _           
//  __| |_  ___ _  _| |__| |___ _ _   ___ _  _| |_ ___ _ _ 
// (_-< ' \/ _ \ || | / _` / -_) '_| / _ \ || |  _/ -_) '_|
// /__/_||_\___/\_,_|_\__,_\___|_|   \___/\_,_|\__\___|_|  

@keyframes shoulderOuter {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		bottom: -29cqh;
		right: 8cqh;
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		bottom: -31cqh;
		right: 20cqh;
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		//bottom: -30cqh;
		//right: 25cqh;
		bottom: -35cqh;
		right: 25cqh;
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		bottom: -30cqh;
		right: 15cqh;
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		bottom: -40cqh;
		right: 5cqh;
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		bottom: -47cqh;
		right: -12cqh;
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		bottom: -50cqh;
		right: -15cqh;
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		bottom: -50cqh;
		right: -45cqh;
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		bottom: -35cqh;
		right: -35cqh;
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		bottom: -28cqh;
		right: -30cqh;
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		bottom: -37cqh;
		right: -16cqh;
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		bottom: -50cqh;
		right: -5cqh;
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		bottom: -60cqh;
		right: -0cqh;
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		//bottom: -50cqh;
		//right: 8cqh;
		bottom: -50cqh;
		right: 13cqh;
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		bottom: -54cqh;
		right: 12cqh;
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		bottom: -29cqh;
		right: 26cqh;
	}

	// ***** ***** end ***** ***** //
}


@keyframes upperOuterFrontLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(355deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(325deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(300deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(300deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(290deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(295deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(300deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(319deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(335deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(5deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(25deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(42deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(41deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		//transform: rotate(6deg);
		transform: rotate(27deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(21deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(353deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes lowerOuterFrontLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(60deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(59deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(20deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(20deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(12deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(5deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(0);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(345deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(355deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(351deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(31deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(53deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(45deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes outerFrontFoot {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(52deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(60deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(39deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(35deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(17deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(5deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(359deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(352deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {

		transform: rotate(0deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(25deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(44deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(44deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(53deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes outerFrontHoof {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(45deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(40deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(40deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(30deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(336deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(350deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(335deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(15deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(45deg);
	}

	// ***** ***** end ***** ***** //
}