
@keyframes neck {
	/*
	0% {
		transform: rotate(235deg);
	}
		*/
	/*
	7.142857142857143% {
		transform: rotate(234deg);
	}
		*/
	/*
	14.28571428571429% {
		transform: rotate(233deg);
	}
		*/
	/*
	21.42857142857143% {
		transform: rotate(236deg);
	}
		*/
	/*
	28.57142857142857% {
		transform: rotate(237deg);
	}
		*/
	/*
	35.71428571428572% {
		transform: rotate(250deg);
	}
		*/
	/*
	42.85714285714286% {
		transform: rotate(250deg);
	}
		*/
	/*
	50.00000000000000% {
		transform: rotate(250deg);
	}
		*/
	/*
	57.14285714285714% {
		transform: rotate(250deg);
	}
		*/
	/*
	64.28571428571429% {
		transform: rotate(255deg);
	}
		*/
	/*
	71.42857142857143% {
		transform: rotate(255deg);
	}
		*/
	/*
	78.57142857142857% {
		transform: rotate(255deg);
	}
		*/
	/*
	85.71428571428572% {
		transform: rotate(255deg);
	}
		*/
	/*
	92.85714285714286% {
		transform: rotate(245deg);
	}
		*/
	/*
	100% {
		transform: rotate(255deg);
	}
		*/
}
@keyframes head {
	/*
	0% {
		transform: rotate(74deg);
	}
		*/
	/*
	7.142857142857143% {
		transform: rotate(76deg);
	}
		*/
	/*
	14.28571428571429% {
		transform: rotate(80deg);
	}
		*/
	/*
	21.42857142857143% {
		transform: rotate(82deg);
	}
		*/
	/*
	28.57142857142857% {
		transform: rotate(82deg);
	}
		*/
	/*
	35.71428571428572% {
		transform: rotate(74deg);
	}
		*/
	/*
	42.85714285714286% {
		transform: rotate(76deg);
	}
		*/
	/*
	50.00000000000000% {
		transform: rotate(73deg);
	}
		*/
	/*
	57.14285714285714% {
		transform: rotate(68deg);
	}
		*/
	/*
	64.28571428571429% {
		transform: rotate(58deg);
	}
		*/
	/*
	71.42857142857143% {
		transform: rotate(62deg);
	}
		*/
	/*
	78.57142857142857% {
		transform: rotate(62deg);
	}
		*/
	/*
	85.71428571428572% {
		transform: rotate(62deg);
	}
		*/
	/*
	92.85714285714286% {
		transform: rotate(50deg);
	}
		*/
	/*
	100% {
		transform: rotate(60deg);
	}
		*/
}
