@keyframes photo {
	/*
	0% {
		// frame 01
		background-position-x: 0.9%;
		background-position-y: 12.2%;
	}
	7.142857142857143% {
		// frame 02
		background-position-x: 33.5%;
		background-position-y: 11.9%;
	}
	14.28571428571429% {
		// frame 03
		background-position-x: 65.5%;
		background-position-y: 12%;
	}
	21.42857142857143% {
		// frame 04
		background-position-x: 97.8%;
		background-position-y: 12%;
	}
	28.57142857142857% {
		// frame 05
		background-position-x: 1.7%;
		background-position-y: 35.1%;
	}
	35.71428571428572% {
		// frame 06
		background-position-x: 34.1%;
		background-position-y: 35.25%;
	}
	42.85714285714286% {
		// frame 07
		background-position-x: 65.8%;
		background-position-y: 35.25%;
	}
	50% {
		// frame 08
		background-position-x: 97.8%;
		background-position-y: 35.25%;
	}
*/
	//0%,
	//100% {
	//	background-position-x: 33.5%;
	//	background-position-y: 11.9%;
	//}
	/*
	57.14285714285714% {
		// frame 09
		background-position-x: 1.5%;
		background-position-y: 58.6%;
	}
	64.28571428571429571429% {
		// frame 10
		background-position-x: 33.5%;
		background-position-y: 58.3%;
	}
	71.42857142857143% {
		// frame 11
		background-position-x: 65.5%;
		background-position-y: 58.4%;
	}
	78.57142857142857% {
		// frame 12
		background-position-x: 97.3%;
		background-position-y: 58.5%;
	}
	85.71428571428572% {
		// frame 13
		background-position-x: 1.5%;
		background-position-y: 81.4%;
	}
	92.85714285714286% {
		// frame 14
		background-position-x: 33.75%;
		background-position-y: 81.5%;
	}
	100% {
		// frame 15
		background-position-x: 66%;
		background-position-y: 81.5%;
	}
*/
}
