

@keyframes upperInnerRearLeg {
	/*
    0% {
		transform: rotate(330deg);
	}
    */

//7.142857142857143% {
0%,
100% {
		transform: rotate(315deg);
	}
    // frame 02

	/*
    14.28571428571429% {
		// frame 03
		transform: rotate(310deg);
	}
    */

	/*
    21.42857142857143% {
		// frame 04
		transform: rotate(305deg);
	}
    */

	/*
    28.57142857142857% {
		// frame 05
		transform: rotate(330deg);
	}
    */

	/*
    35.71428571428572% {
		// frame 06
		transform: rotate(337deg);
	}
    */

	/*
    42.85714285714286% {
		// frame 07
		transform: rotate(347deg);
	}
    */

	/*
    50% {
		// frame 07
		transform: rotate(15deg);
	}
    */

	/*
    57.14285714285714% {
		// frame 09
		transform: rotate(30deg);
	}
    */

	/*
    64.28571428571429% {
		// frame 10
		transform: rotate(30deg);
	}
    */

	/*
    71.42857142857143% {
		// frame 11
		transform: rotate(35deg);
	}
    */

	/*
    78.57142857142857% {
		// frame 12
		transform: rotate(15deg);
	}
    */

	/*
    85.71428571428572% {
		// frame 13
		transform: rotate(0deg);
	}
    */

	/*
    92.85714285714286% {
		// frame 14
		transform: rotate(345deg);
	}
    */

	/*
    100% {
		// frame 15
		transform: rotate(330deg);
	}
    */

	/*
0%,
/*
100% {
		transform: rotate(330deg);
}
*/
}

@keyframes lowerInnerRearLeg {
	/*
    0% {
		transform: rotate(105deg);
	}
    */

//7.142857142857143% {
0%,
100% {
		transform: rotate(100deg);
	}
    // frame 02

	/*
    14.28571428571429% {
		// frame 03
		transform: rotate(90deg);
	}
    */

	/*
    21.42857142857143% {
		// frame 04
		transform: rotate(70deg);
	}
    */

	/*
    28.57142857142857% {
		// frame 05
		transform: rotate(35deg);
	}
    */

	/*
    35.71428571428572% {
		// frame 06
		transform: rotate(50deg);
	}
    */

	/*
    42.85714285714286% {
		// frame 07
		transform: rotate(65deg);
	}
    */

	/*
    50% {
		// frame 07
		transform: rotate(37deg);
	}
    */

	/*
    57.14285714285714% {
		// frame 09
		transform: rotate(25deg);
	}
    */

	/*
    64.28571428571429% {
		// frame 10
		transform: rotate(25deg);
	}
    */

	/*
    71.42857142857143% {
		// frame 11
		transform: rotate(25deg);
	}
    */

	/*
    78.57142857142857% {
		// frame 12
		transform: rotate(80deg);
	}
    */

	/*
    85.71428571428572% {
		// frame 13
		transform: rotate(100deg);
	}
    */

	/*
    92.85714285714286% {
		// frame 14
		transform: rotate(115deg);
	}
    */

	/*
    100% {
		// frame 15
		transform: rotate(110deg);
	}
    */

	/*
0%,
/*
100% {
		transform: rotate(110deg);
}
*/
}

@keyframes innerRearFoot {
	/*
    0% {
		transform: rotate(245deg);
	}
    */

//7.142857142857143% {
0%,
100% {
		transform: rotate(250deg);
	}
    // frame 02

	/*
    14.28571428571429% {
		// frame 03
		transform: rotate(250deg);
	}
    */

	/*
    21.42857142857143% {
		// frame 04
		transform: rotate(260deg);
	}
    */

	/*
    28.57142857142857% {
		// frame 05
		transform: rotate(317deg);
	}
    */

	/*
    35.71428571428572% {
		// frame 06
		transform: rotate(305deg);
	}
    */

	/*
    42.85714285714286% {
		// frame 07
		transform: rotate(310deg);
	}
    */

	/*
    50% {
		// frame 07
		transform: rotate(340deg);
	}
    */

	/*
    57.14285714285714% {
		// frame 09
		transform: rotate(345deg);
	}
    */

	/*
    64.28571428571429% {
		// frame 10
		transform: rotate(355deg);
	}
    */

	/*
    71.42857142857143% {
		// frame 11
		transform: rotate(335deg);
	}
    */

	/*
    78.57142857142857% {
		// frame 12
		transform: rotate(295deg);
	}
    */

	/*
    85.71428571428572% {
		// frame 13
		transform: rotate(260deg);
	}
    */

	/*
    92.85714285714286% {
		// frame 14
		transform: rotate(290deg);
	}
    */

	/*
    100% {
		// frame 15
		transform: rotate(240deg);
	}
    */

	/*
0%,
/*
100% {
		transform: rotate(240deg);
}
*/
}

@keyframes innerRearHoof {
	/*
    0% {
		transform: rotate(65deg);
	}
    */

//7.142857142857143% {
0%,
100% {
		transform: rotate(65deg);
	}
    // frame 02

	/*
    14.28571428571429% {
		// frame 03
		transform: rotate(65deg);
	}
    */

	/*
    21.42857142857143% {
		// frame 04
		transform: rotate(60deg);
	}
    */

	/*
    28.57142857142857% {
		// frame 05
		transform: rotate(345deg);
	}
    */

	/*
    35.71428571428572% {
		// frame 06
		transform: rotate(310deg);
	}
    */

	/*
    42.85714285714286% {
		// frame 07
		transform: rotate(305deg);
	}
    */

	/*
    50% {
		// frame 07
		transform: rotate(285deg);
	}
    */

	/*
    57.14285714285714% {
		// frame 09
		transform: rotate(25deg);
	}
    */

	/*
    64.28571428571429% {
		// frame 10
		transform: rotate(45deg);
	}
    */

	/*
    71.42857142857143% {
		// frame 11
		transform: rotate(30deg);
	}
    */

	/*
    78.57142857142857% {
		// frame 12
		transform: rotate(40deg);
	}
    */

	/*
    85.71428571428572% {
		// frame 13
		transform: rotate(55deg);
	}
    */

	/*
    92.85714285714286% {
		// frame 14
		transform: rotate(50deg);
	}
    */

	/*
    100% {
		// frame 15
		transform: rotate(55deg);
	}
    */

	/*
0%,
/*
100% {
		transform: rotate(55deg);
}
*/
}
