@keyframes neckPivot {

/* ***** frame 01 ***** */
/*
0% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
top: 10cqh;
right: -30cqh;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
top: 10cqh;
right: -25cqh;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
top: 10cqh;
right: -25cqh;
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
top: 10cqh;
right: -35cqh;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
top: 0cqh;
right: -28cqh;
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
top: 0cqh;
right: -34cqh;
}
/*
/* ***** frame 08 ***** */
/*
50% {
top: 12cqh;
    right: -47cqh;
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
top: 12cqh;
    right: -47cqh;
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
top: 0cqh;
right: -20cqh;
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(28deg);
}
*/
}

@keyframes neck {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(235deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(234deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(240deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(242.5deg);
}
*/
/* ***** frame 05 ***** */
/*
0%,
100% {
//28.57142857142857% {
transform: rotate(245deg);
}
*/
/* ***** frame 06 ***** */
/*
0%,
100% {
//35.71428571428572% {
transform: rotate(250deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(254deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(250deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(250deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(255deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(255deg);
}
*/
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(255deg);
}
*/
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(255deg);
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(245deg);
}
*/
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(255deg);
}
*/
}

@keyframes head {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(74deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(76deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(65deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(70deg);
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(70deg);
}
/*
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(69deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(68deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(73deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(68deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(58deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(62deg);
}
*/
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(62deg);
}
*/
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(62deg);
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(50deg);
}
*/
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(60deg);
}
*/
}