@keyframes neckPivot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		top: 0cqh;
		right: -20cqh;
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		top: 10cqh;
		right: -30cqh;
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		top: 10cqh;
		right: -25cqh;
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		top: 10cqh;
		right: -25cqh;
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		top: 10cqh;
		right: -35cqh;
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		top: 0cqh;
		right: -28cqh;
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		top: 0cqh;
		right: -34cqh;
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		top: 12cqh;
		right: -47cqh;
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		top: 12cqh;
		right: -47cqh;
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		top: 12cqh;
		right: -56cqh;
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		top: 12cqh;
		right: -56cqh;
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		top: 12cqh;
		right: -48cqh;
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		top: 12cqh;
		right: -44cqh;
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		top: 12cqh;
		right: -37cqh;
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		top: 6cqh;
		right: -28cqh;
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		top: 6cqh;
		right: -28cqh;
	}
// ***** ***** end ***** ***** //
}

@keyframes neck {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(235deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(234deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(240deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(242.5deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(245deg);
	}
// ***** ***** frame 06 ***** ***** //
	0%,
	100% {
		//35.28% {
		transform: rotate(250deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(254deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(250deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(250deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(253deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(255deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(251deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(249deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(246deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(248deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(244deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes head {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(74deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(76deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(65deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(70deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(70deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(69deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(68deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(73deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(68deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(73deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(73deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(68deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(68deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(68deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(67deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(70deg);
	}
// ***** ***** end ***** ***** //
}