@keyframes neckPivot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		top: 0cqh;
		right: -20cqh;
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		top: 10cqh;
		right: -30cqh;
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		top: 10cqh;
		right: -25cqh;
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		top: 10cqh;
		right: -25cqh;
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		top: 10cqh;
		right: -35cqh;
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		top: 0cqh;
		right: -28cqh;
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		top: 0cqh;
		right: -34cqh;
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		top: 12cqh;
		right: -47cqh;
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		top: 12cqh;
		right: -47cqh;
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		top: 12cqh;
		right: -56cqh;
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		top: 12cqh;
		right: -56cqh;
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		top: 12cqh;
		right: -48cqh;
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		top: 12cqh;
		right: -44cqh;
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		top: 12cqh;
		right: -37cqh;
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		top: 6cqh;
		right: -28cqh;
	}
// ***** ***** frame 16 ***** ***** //
100% {
		top: 6cqh;
		right: -28cqh;
	}
// ***** ***** end ***** ***** //
}

@keyframes neck {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(235deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(234deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(240deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(242.5deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(245deg);
	}
// ***** ***** frame 06 ***** ***** //
	0%,
100% {
		//37.5% {
		transform: rotate(250deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(254deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(250deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(250deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(253deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(255deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(251deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(249deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(246deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(248deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(244deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes head {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(74deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(76deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(65deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(70deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(70deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(69deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(68deg);
	}
// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(73deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(68deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(73deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(73deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(68deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(68deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(68deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(67deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(70deg);
	}
// ***** ***** end ***** ***** //
}