//  _     _           _   _                       
// | |__ (_)_ __   __| | (_)_ __  _ __   ___ _ __ 
// | '_ \| | '_ \ / _` | | | '_ \| '_ \ / _ \ '__|
// | | | | | | | | (_| | | | | | | | | |  __/ |   
// |_| |_|_|_| |_|\__,_| |_|_| |_|_| |_|\___|_|   


@keyframes hindInner {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		left: 33cqh;
		top: 42cqh;
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		left: 34cqh;
		top: 43cqh;
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		left: 24cqh;
		top: 48cqh;
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		left: 35cqh;
		top: 55cqh;
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		left: 45cqh;
		top: 55cqh;
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		left: 38cqh;
		top: 64cqh
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		left: 25cqh;
		top: 70cqh;
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		left: 40cqh;
		top: 70cqh;
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		left: 40cqh;
		top: 75cqh;
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		left: 46cqh;
		top: 75cqh;
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		left: 50cqh;
		top: 80cqh;
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		left: 57cqh;
		top: 70cqh;
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		left: 40cqh;
		top: 80cqh;
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		left: 30cqh;
		top: 75cqh;
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		left: 35cqh;
		top: 75cqh;
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		left: 34cqh;
		top: 56cqh;

	}

}

@keyframes upperInnerRearLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(326deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(315deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(294deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(295deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(330deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(342deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(347deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(15deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(34deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(35deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(35deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(15deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(345deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(340deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(342deg);
	}

	// ***** ***** end ***** ***** //
}


@keyframes lowerInnerRearLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(105deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(98deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(99deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(85deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(35deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(65deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(37deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(21deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(25deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(19deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(90deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(115deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(110deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(94deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes innerRearFoot {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(245deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(250deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(258deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(260deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(317deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(340deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(345deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(355deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(347deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(349deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(321deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(290deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(270deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(249deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes innerRearHoof {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(65deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(56deg);
	}

	// ***** ***** frame 03 ***** ***** //
	18.75% {
		transform: rotate(65deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(60deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(345deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(285deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(25deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(45deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(30deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(40deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(62deg);
	}

	// ***** ***** end ***** ***** //
}