@keyframes upperInnerRearLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(330deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(315deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(310deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(295deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(330deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(342deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(347deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(15deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(30deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(30deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(35deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(15deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(0deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(345deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(330deg);
}
*/
}


@keyframes lowerInnerRearLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(105deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(100deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(105deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(85deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(35deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(50deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(65deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(37deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(25deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(25deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(25deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(80deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(100deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(115deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(110deg);
}
*/
}

@keyframes innerRearFoot {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(245deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(250deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(250deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(260deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(317deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(305deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(310deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(340deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(345deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(355deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(335deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(295deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(260deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(290deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(240deg);
}
*/
}

@keyframes innerRearHoof {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(65deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(65deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(65deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(60deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(345deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(310deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(305deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(285deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(25deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(45deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(30deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(40deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(55deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(50deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(55deg);
}
*/
}