//  _    _         _            _           
// | |_ (_)_ _  __| |  ___ _  _| |_ ___ _ _ 
// | ' \| | ' \/ _` | / _ \ || |  _/ -_) '_|
// |_||_|_|_||_\__,_| \___/\_,_|\__\___|_|  


@keyframes hindOuter {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		left: 43cqh;
		top: 47cqh;
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		left: 29cqh;
		top: 45cqh;
	}

	// ***** ***** frame 03 ***** ***** //
18.75% {
    left: 35cqh;
    top: 47cqh;
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		left: 40cqh;
		top: 55cqh;
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		left: 35cqh;
		top: 55cqh;
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		left: 22cqh;
		top: 64cqh;
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		left: 40cqh;
		top: 65cqh;
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		left: 40cqh;
		top: 70cqh;
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		left: 48cqh;
		top: 75cqh;
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		left: 40cqh;
		top: 79cqh;
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		left: 40cqh;
		top: 80cqh;
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		left: 57cqh;
		top: 75cqh;
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		left: 40cqh;
		top: 70cqh;
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		left: 30cqh;
		top: 70cqh;
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		left: 30cqh;
		top: 70cqh;
	}

	// ***** ***** frame 16 ***** ***** //
100% {
		left: 39cqh;
		top: 56cqh;

	}

	// ***** ***** end ***** ***** //
}

@keyframes upperOuterRearLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(315deg);
	}

	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(300deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(325deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(330deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(360deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(17deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(15deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(350deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(325deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(317deg);
	}

	// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(333deg);
	}

	// ***** ***** end ***** ***** //
}


@keyframes lowerOuterRearLeg {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(95deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(313deg);
	}

	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(75deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(52.5deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(39deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(35deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(54deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(63deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(77deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(103deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(120deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(112deg);
	}

	// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(95deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes outerRearFoot {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(255deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(252deg);
	}

	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(258deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(280deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(310deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(303deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(295deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(330deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(337deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(303deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(268deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(260deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(250deg);
	}

	// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(255deg);
	}

	// ***** ***** end ***** ***** //
}

@keyframes outerRearHoof {
	// ***** ***** start ***** ***** //

	// ***** ***** frame 01 ***** ***** //
	6.25% {
		transform: rotate(57deg);
	}

	// ***** ***** frame 02 ***** ***** //
	12.5% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(50deg);
	}

	// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(0deg);
	}

	// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(30deg);
	}

	// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 07 ***** ***** //
	43.75% {
		transform: rotate(10deg);
	}

	// ***** ***** frame 08 ***** ***** //
	50% {
		transform: rotate(305deg);
	}

	// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(294deg);
	}

	// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(280deg);
	}

	// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(47deg);
	}

	// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(40deg);
	}

	// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(55deg);
	}

	// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(70deg);
	}

	// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(255deg);
	}

	// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(61deg);
	}

	// ***** ***** end ***** ***** //
}