@keyframes upperOuterRearLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(310deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(305deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(305deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(305deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(305deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(305deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(325deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(330deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(360deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(10deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(17deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(15deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(350deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(325deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(317deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(315deg);
	}
// ***** ***** end ***** ***** //
}


@keyframes lowerOuterRearLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(95deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(75deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(75deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(55deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(52.5deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(39deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(35deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(55deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(54deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(50deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(63deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(77deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(103deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(120deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(112deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(98deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes outerRearFoot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(255deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(275deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(275deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(310deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(280deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(310deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(310deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(303deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(295deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(330deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(337deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(303deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(268deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(260deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(250deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(250deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes outerRearHoof {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(55deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(50deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(50deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(0deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(30deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(10deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(10deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(305deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(294deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(280deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(47deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(40deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(55deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(70deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(66deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(66deg);
	}
// ***** ***** end ***** ***** //
}