@keyframes upperOuterRearLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(310deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(305deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(305deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(305deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(305deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(305deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(325deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(330deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(360deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(370deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(370deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(370deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(350deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(325deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(340deg);
}
*/
}


@keyframes lowerOuterRearLeg {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(95deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(75deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(75deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(55deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(52.5deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(39deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(35deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(55deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(50deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(50deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(40deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(100deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(90deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(120deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(110deg);
}
*/
}

@keyframes outerRearFoot {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(255deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(275deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(275deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(310deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(280deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(310deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(310deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(303deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(300deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(330deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(345deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(345deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(335deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(260deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(270deg);
}
*/
}

@keyframes outerRearHoof {

/* ***** frame 01 ***** */
/*
0% {
transform: rotate(55deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(50deg);
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
transform: rotate(50deg);
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
transform: rotate(0deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(30deg);
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(10deg);
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(10deg);
}
/*
/* ***** frame 08 ***** */
/*
50% {
transform: rotate(305deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(310deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(280deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(5deg);
}
*/
/* ***** frame 12 ***** */
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(70deg);
}
*/
/* ***** frame 13 ***** */
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(55deg);
}
*/
/* ***** frame 14 ***** */
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(70deg);
}
*/
/* ***** frame 15 ***** */
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(55deg);
}
*/
}