@keyframes upperInnerRearLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(330deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(315deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(310deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(295deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(330deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(342deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(347deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(15deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(34deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(35deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(35deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(15deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(0deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(345deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(340deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(342deg);
	}
// ***** ***** end ***** ***** //
}


@keyframes lowerInnerRearLeg {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(105deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(100deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(105deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(85deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(35deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(50deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(65deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(37deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(21deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(25deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(19deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(55deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(90deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(115deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(110deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(94deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes innerRearFoot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(245deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(250deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(250deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(260deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(317deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(305deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(310deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(340deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(345deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(355deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(347deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(349deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(321deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(290deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(270deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(249deg);
	}
// ***** ***** end ***** ***** //
}

@keyframes innerRearHoof {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
5.88% {
		transform: rotate(65deg);
	}
// ***** ***** frame 02 ***** ***** //
11.76% {
		transform: rotate(65deg);
	}
// ***** ***** frame 03 ***** ***** //
11.76% {
		transform: rotate(65deg);
	}
// ***** ***** frame 04 ***** ***** //
	23.52% {
		transform: rotate(60deg);
	}
// ***** ***** frame 05 ***** ***** //
	29.52% {
		transform: rotate(345deg);
	}
// ***** ***** frame 06 ***** ***** //
	35.28% {
		transform: rotate(310deg);
	}
// ***** ***** frame 07 ***** ***** //
41.16% {
		transform: rotate(305deg);
	}
// ***** ***** frame 08 ***** ***** //
	47.04% {
		transform: rotate(285deg);
	}
// ***** ***** frame 09 ***** ***** //
	52.92% {
		transform: rotate(25deg);
	}
// ***** ***** frame 10 ***** ***** //
	58.8% {
		transform: rotate(45deg);
	}
// ***** ***** frame 11 ***** ***** //
	64.68% {
		transform: rotate(30deg);
	}
// ***** ***** frame 12 ***** ***** //
	70.56% {
		transform: rotate(40deg);
	}
// ***** ***** frame 13 ***** ***** //
	76.44% {
		transform: rotate(55deg);
	}
// ***** ***** frame 14 ***** ***** //
	82.32% {
		transform: rotate(50deg);
	}
// ***** ***** frame 15 ***** ***** //
	94.08% {
		transform: rotate(55deg);
	}
// ***** ***** frame 16 ***** ***** //
	100% {
		transform: rotate(62deg);
	}
// ***** ***** end ***** ***** //
}