





//  _        _ _        _         _   
// | |_ __ _(_) |  _ __(_)_ _____| |_ 
// |  _/ _` | | | | '_ \ \ V / _ \  _|
//  \__\__,_|_|_| | .__/_|\_/\___/\__|
//                |_|                 

@keyframes tailPivot {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		left: -10cqh;
		top: 21cqh;
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		left: -10cqh;
		top: 22cqh;
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		left: -10cqh;
		top: 29cqh;
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		left: -10cqh;
		top: 29cqh;
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 08 ***** ***** //
	56.26% {
		left: -10cqh;
		top: 35cqh;
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		left: -5cqh;
		top: 30cqh;
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		left: 0cqh;
		top: 30cqh;
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		left: 0cqh;
		top: 30cqh;
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		left: 0cqh;
		top: 27cqh;
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** frame 16 ***** ***** //
100% {
		left: -10cqh;
		top: 17cqh;
	}
// ***** ***** end ***** ***** //
}