//      _                 _     _             _                       
//  ___| |__   ___  _   _| | __| | ___ _ __  (_)_ __  _ __   ___ _ __ 
// / __| '_ \ / _ \| | | | |/ _` |/ _ \ '__| | | '_ \| '_ \ / _ \ '__|
// \__ \ | | | (_) | |_| | | (_| |  __/ |    | | | | | | | |  __/ |   
// |___/_| |_|\___/ \__,_|_|\__,_|\___|_|    |_|_| |_|_| |_|\___|_|   
                                                                    

@keyframes shoulderInner {

/* ***** frame 01 ***** */
/*
0% {
bottom: -60cqh;
right: 10cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
bottom: -50cqh;
right: 5cqh;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
bottom: -40cqh;
right: 5cqh;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
bottom: -30cqh;
right: 25cqh;
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
bottom: -30cqh;
right: 25cqh;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
bottom: -62cqh;
right: 29cqh;
}
/*
/* ***** frame 07 ***** */
/*
42.85714285714286% {
bottom: -65cqh;
right: 15cqh;
}
/*
/* ***** frame 08 ***** */
/*
50% {
bottom: -65cqh;
    right: -6cqh;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
bottom: -45cqh;
right: -30cqh;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
// correct
bottom: -48cqh;
right: -50cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
bottom: -51cqh;
    right: -53cqh;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
bottom: -50cqh;
    right: -48cqh;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
bottom: -35cqh;
right: -40cqh;
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
bottom: -35cqh;
right: -0cqh;
}
*/
/* ***** frame 15 ***** */
/*
100% {
bottom: -50cqh;
right: 0cqh;
}
*/
}



//  _     _           _   _                       
// | |__ (_)_ __   __| | (_)_ __  _ __   ___ _ __ 
// | '_ \| | '_ \ / _` | | | '_ \| '_ \ / _ \ '__|
// | | | | | | | | (_| | | | | | | | | |  __/ |   
// |_| |_|_|_| |_|\__,_| |_|_| |_|_| |_|\___|_|   
                                                

@keyframes hindInner {

/* ***** frame 01 ***** */
/*
0% {
left: 40cqh;
top: 50cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
left: 40cqh;
top: 50cqh;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
left: 40cqh;
top: 50cqh;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
left: 35cqh;
top: 55cqh;
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
left: 45cqh;
top: 55cqh;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
left: 38cqh;
top: 64cqh
}
*/
/* ***** frame 07 ***** */
/*
42.85714285714286% {
left: 25cqh;
top: 70cqh;
}
/*
/* ***** frame 08 ***** */
/*
50% {
left: 40cqh;
top: 70cqh;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
left: 40cqh;
top: 75cqh;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
left: 46cqh;
    top: 75cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
left: 50cqh;
top: 80cqh;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
left: 57cqh;
top: 70cqh;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
left: 40cqh;
top: 80cqh;
}
*/

/*
92.85714285714286% {
left: 30cqh;
top: 75cqh;
}
*/

/*
100% {
left: 30cqh;
top: 70cqh;
}
*/

/*
0%,
/*
100% {
left: 30cqh;
top: 70cqh;
}
*/
}

//     _             _    _                    _           
//  __| |_  ___ _  _| |__| |___ _ _   ___ _  _| |_ ___ _ _ 
// (_-< ' \/ _ \ || | / _` / -_) '_| / _ \ || |  _/ -_) '_|
// /__/_||_\___/\_,_|_\__,_\___|_|   \___/\_,_|\__\___|_|  
                                                         
@keyframes shoulderOuter {

/* ***** frame 01 ***** */
/*
0% {
bottom: -35cqh;
right: 5cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
bottom: -35cqh;
right: 20cqh;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
bottom: -40cqh;
right: 25cqh;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
bottom: -30cqh;
right: 15cqh;
}
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
bottom: -40cqh;
right: 5cqh;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
bottom: -47cqh;
right: -12cqh;
}
*/
/* ***** frame 07 ***** */
/*
42.85714285714286% {
bottom: -50cqh;
right: -15cqh;
}
/*
/* ***** frame 08 ***** */
/*
50% {
bottom: -50cqh;
right: -45cqh;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
bottom: -35cqh;
right: -35cqh;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
bottom: -28cqh;
    right: -30cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
    bottom: -37cqh;
    right: -16cqh;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
bottom: -50cqh;
right: -5cqh;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
bottom: -60cqh;
right: -0cqh;
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
}
*/
/* ***** frame 15 ***** */
/*
100% {
bottom: -60cqh;
right: 10cqh;
}
*/
}

//  _    _         _            _           
// | |_ (_)_ _  __| |  ___ _  _| |_ ___ _ _ 
// | ' \| | ' \/ _` | / _ \ || |  _/ -_) '_|
// |_||_|_|_||_\__,_| \___/\_,_|\__\___|_|  
                                          

@keyframes hindOuter {

/* ***** frame 01 ***** */
/*
0% {
//left: 45cqh;
//top: 50cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
left: 40cqh;
// top: 50cqh;
}
*/
/* ***** frame 03 ***** */
/*
14.28571428571429% {
left: 40cqh;
// top: 50cqh;
}
*/
/* ***** frame 04 ***** */
/*
21.42857142857143% {
left: 40cqh;
top: 55cqh;
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
left: 35cqh;
top: 55cqh;
}
*/
/* ***** frame 06 ***** */
/*
35.71428571428572% {
left: 22cqh;
top: 64cqh;
}
*/
/* ***** frame 07 ***** */
/*
42.85714285714286% {
left: 40cqh;
top: 65cqh;
}
/*
/* ***** frame 08 ***** */
/*
50% {
left: 40cqh;
top: 70cqh;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
left: 48cqh;
top: 75cqh;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
left: 40cqh;
 top: 79cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
left: 40cqh;
top: 80cqh;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
left: 57cqh;
top: 74cqh;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
left: 40cqh;
top: 70cqh;
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
left: 30cqh;
top: 70cqh;
}
*/
/* ***** frame 15 ***** */
/*
100% {
left: 30cqh;
top: 70cqh;
}
*/
}

//  _        _ _        _         _   
// | |_ __ _(_) |  _ __(_)_ _____| |_ 
// |  _/ _` | | | | '_ \ \ V / _ \  _|
//  \__\__,_|_|_| | .__/_|\_/\___/\__|
//                |_|                 
				
@keyframes tailPivot {
/*
0% {
left: -10cqh;
top: 17cqh;
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
left: -10cqh;
top: 21cqh;
}
*/
/* ***** frame 02 ***** */

/*
14.28571428571429% {
left: -10cqh;
top: 22cqh;
}
*/

/*
21.42857142857143% {
left: -10cqh;
top: 29cqh;
}
*/

/*
28.57142857142857% {
left: -10cqh;
top: 29cqh;
}
*/

/*
35.71428571428572% {
left: -10cqh;
top: 17cqh;
}
*/

/*
42.85714285714286% {
left: -10cqh;
top: 17cqh;
}
*/

/*
50.00000000000000% {
left: -10cqh;
top: 35cqh;
}
*/
/* ***** frame 09 ***** */
/*
57.14285714285714% {
left: -5cqh;
top: 30cqh;
}
*/
/* ***** frame 10 ***** */
/*
64.28571428571429% {
left: 0cqh;
top: 30cqh;
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
left: 0cqh;
top: 30cqh;
}
*/
/* ***** frame 12 ***** */
0%,
100% {
//78.57142857142857% {
left: -10cqh;
top: 17cqh;
}
/* ***** frame 13 ***** */
/*
85.71428571428572% {
left: 0cqh;
top: 27cqh;
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
left: -10cqh;
top: 17cqh;
}
*/
/* ***** frame 15 ***** */
/*
100% {
left: -10cqh;
top: 17cqh;
}
*/
}