.body {
	position: absolute;
	transform-origin: center center;
	transform-style: preserve-3D;
	border: var(--body);
	width: 38cqw;
	height: 20cqh;
	.show-origin-center();
	container-type: size;
	container-name: middle;
	left: 50%; // x
	top: 50%; // y
	translate: -50% -50%;

	&:after {
		//content: "";
		position: absolute;
		top: 35%;
		left: 0;
		border-radius: ~"25% 0% 44% 40% / 50% 0% 44% 40%";
		width: 112%;
		height: 90%;
		background-color: rgba(0, 0, 0, 0.75);
		transform: rotate(10deg);
	}

	.tail-pivot {
		display: none;
		position: absolute;
		left: -10cqh;
		top: 17cqh;
		//translate: 47.5cqh 47.5cqh; // x, y
		border-radius: ~"50% 50% 50% 50% / 50% 50% 50% 50%";
		//border: 5px solid var(--tail);
		height: 25cqh;
		aspect-ratio: 1;
		.show-origin-center();

		&.run {
			animation: tailPivot var(--frame-duration) var(--animation-iteration-count) var(--ease);
		}

		.tail {
			width: 50cqw;
			height: 40cqh;
			position: absolute;
			right: 12.5cqh;
			top: 12.5cqh;
			transform-origin: ~"calc(50cqw)" 0cqh;
			background-color: var(--tail);
			border-radius: ~"0% 100% 100% 0% / 0% 0% 100% 0%";
			.show-origin-center(rgba(255, 255, 255, 1));

			&.run {
				animation: tail var(--frame-duration) var(--animation-iteration-count) var(--ease) var(--animation-fill-mode);
			}
		}
	}

	.neck-pivot {
		display: none;
		--neck-size: 80cqh;
		position: absolute;
		top: ~"calc(50cqh - (var(--neck-size) / 2))";
		right: ~"calc(var(--neck-size) / 2 * -1)";
		border-radius: ~"50% 50% 50% 50% / 50% 50% 50% 50%";
		background-color: var(--neck);
		height: var(--neck-size);
		aspect-ratio: 1;
		.show-origin-center(rgba(255, 255, 255, 1));

		&.run {
			animation: neckPivot ~"var(--frame-duration) var(--animation-iteration-count) var(--ease) var(--animation-fill-mode)";
		}

		.neck {
			--neck-length: 120cqh;
			width: 5cqw;
			position: absolute;
			transform: rotate(235deg);
			height: var(--neck-length);
			top: ~"calc((var(--neck-length) / 2) - 10cqw)"; // ~"calc((var(--neck-size) / 2) - 2.5cqw)";
			left: ~"calc((var(--neck-length) / 2) - 10cqw)"; // ~"calc((var(--neck-size) / 2) - 2.5cqw)";
			transform-origin: 50% 2.5cqw; // var(--neck-size) 2.5cqw;
			background-color: var(--neck);
			border-radius: 99em;
			.show-origin-center(rgba(255, 255, 255, 1));

			&.run {
				animation: neck var(--frame-duration) var(--animation-iteration-count) var(--ease) var(--animation-fill-mode);
			}

			/*
			&:after {
				content: "";
				position: absolute;
				top: ~"calc(50% + 12cqi)";
				left: ~"calc(50% - 12cqi)";
				transform-origin: -50% -50%;
				border-radius: ~"50%";
				width: 24cqi;
				height: 24cqi;
background-color: rgba(0, 0, 0, 0.5);
}
		*/

			.head-pivot {
				--head-size: 60cqh;
				position: absolute;
				top: ~"calc(var(--neck-length) - (var(--head-size) / 2))";
				right: ~"calc(2.5cqw - (var(--head-size) / 2))";
				border-radius: ~"50% 50% 50% 50% / 50% 50% 50% 50%";
				background-color: var(--neck);
				height: var(--head-size);
				aspect-ratio: 1;
				.show-origin-center(rgba(255, 255, 255, 1));

				.head {
					--head-length: 80cqh;
					width: 5cqw;
					position: absolute;
					transform: rotate(235deg);
					height: var(--head-length);
					top: ~"calc((var(--head-length) / 2) - 6.5cqw)"; // ~"calc((var(--neck-size) / 2) - 2.5cqw)";
					left: ~"calc((var(--head-length) / 2) - 6.5cqw)"; // ~"calc((var(--neck-size) / 2) - 2.5cqw)";
					transform-origin: 50% 2.5cqw; // var(--neck-size) 2.5cqw;
					background-color: var(--neck);
					border-radius: 99em;
					.show-origin-center(rgba(255, 255, 255, 1));

					&.run {
						animation: head var(--frame-duration) var(--animation-iteration-count) var(--ease) var(--animation-fill-mode);
					}

					.nose-pivot {
						--nose-size: 30cqh;
						position: absolute;
						top: ~"calc(var(--head-length) - (var(--nose-size) / 2))";
						right: ~"calc(2.5cqw - (var(--nose-size) / 2))";
						//transform-origin: 50% 2.5cqw; // var(--neck-size) 2.5cqw;
						border-radius: ~"50% 50% 50% 50% / 50% 50% 50% 50%";
						background-color: var(--neck);
						height: var(--nose-size);
						aspect-ratio: 1;
						.show-origin-center(rgba(255, 255, 255, 1));
					}
				}
			}
		}
	}
}

@show-origin-center: rgba(0, 0, 255, 0.5);

.show-origin-center(@rgba: @show-origin-center) {
	span {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: scale(0.001);
		transform-origin: inherit;

		&:after {
			content: "";
			display: block;
			width: 1.25vw;
			aspect-ratio: 1;
			border-radius: 100%;
			background: @rgba;
			transform: scale(1000);
		}
	}
}