@keyframes tail {
/* ***** frame 01 ***** */
/*
0% {
transform: rotate(0deg);
}
*/
/* ***** frame 02 ***** */
/*
7.142857142857143% {
transform: rotate(0deg);
}
*/
/* ***** frame 02 ***** */
/*
14.28571428571429% {
transform: rotate(0deg);
}
*/

/*
21.42857142857143% {
transform: rotate(0deg);
}
*/
/* ***** frame 05 ***** */
/*
28.57142857142857% {
transform: rotate(0deg);
}
/* ***** frame 06 ***** */
/*
35.71428571428572% {
transform: rotate(0deg);
}
*/
/* ***** frame 07 ***** */
/*
42.85714285714286% {
transform: rotate(0deg);
}
/*
/* ***** frame 08 ***** */
/*
0%,
100% {
//50.00000000000000% {
transform: rotate(0deg);
}
*/
/* ***** frame 09 ***** */
0%,
100% {
//57.14285714285714% {
transform: rotate(0deg);
}
/* ***** frame 10 ***** */
/*
64.28571428571429% {
transform: rotate(0deg);
}
*/
/* ***** frame 11 ***** */
/*
71.42857142857143% {
transform: rotate(0deg);
}
*/
/* ***** frame 12 ***** */
/*
78.57142857142857% {
transform: rotate(0deg);
}
*/
/* ***** frame 13 ***** */
/*
85.71428571428572% {
transform: rotate(0deg);
}
*/
/* ***** frame 14 ***** */
/*
92.85714285714286% {
transform: rotate(0deg);
}
*/
/* ***** frame 15 ***** */
/*
100% {
transform: rotate(0deg);
}
*/
}