
@keyframes tail {
	0% {
		transform: rotate(0deg);
	}
	7.142857142857143% {
		transform: rotate(0deg);
	}
	14.28571428571429% {
		transform: rotate(0deg);
	}
	21.42857142857143% {
		transform: rotate(0deg);
	}
	28.57142857142857% {
		transform: rotate(0deg);
	}
	35.71428571428572% {
		transform: rotate(0deg);
	}
	42.85714285714286% {
		transform: rotate(0deg);
	}
	50.00000000000000% {
		transform: rotate(0deg);
	}
	57.14285714285714% {
		transform: rotate(0deg);
	}
	64.28571428571429% {
		transform: rotate(0deg);
	} // correct
	71.42857142857143% {
		transform: rotate(0deg);
	}
	78.57142857142857% {
		transform: rotate(0deg);
	}
	85.71428571428572% {
		transform: rotate(0deg);
	}
	92.85714285714286% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
