@keyframes tail {
// ***** ***** start ***** ***** //

// ***** ***** frame 01 ***** ***** //
6.25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 02 ***** ***** //
12.5% {
		transform: rotate(0deg);
	}
	// ***** ***** frame 03 ***** ***** //
18.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 04 ***** ***** //
	25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 05 ***** ***** //
	31.25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 06 ***** ***** //
	37.5% {
		transform: rotate(0deg);
	}
// ***** ***** frame 07 ***** ***** //
43.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 08 ***** ***** //
	0%,
100% {
		//56.26% {
		transform: rotate(0deg);
	}
// ***** ***** frame 09 ***** ***** //
	56.26% {
		transform: rotate(0deg);
	}
// ***** ***** frame 10 ***** ***** //
	62.5% {
		transform: rotate(0deg);
	}
// ***** ***** frame 11 ***** ***** //
	68.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 12 ***** ***** //
	75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 13 ***** ***** //
	81.25% {
		transform: rotate(0deg);
	}
// ***** ***** frame 14 ***** ***** //
	87.5% {
		transform: rotate(0deg);
	}
// ***** ***** frame 15 ***** ***** //
	93.75% {
		transform: rotate(0deg);
	}
// ***** ***** frame 16 ***** ***** //
100% {
		transform: rotate(0deg);
	}
// ***** ***** end ***** ***** //
}