:root {

	--inner-leg: rgba(255, 0, 0, 0.5);
	//--innner-rear-leg: rgba(255, 0, 0, 0);
	//--inner-front-leg: rgba(255, 0, 0, 0);

	--upper-rear-leg-height: 75cqh;
	--lower-rear-leg-height: 100cqh;
	--rear-foot-height: 90cqh;

	--upper-front-leg-height: 100cqh;
	--lower-front-leg-height: 30cqh;
	--front-foot-height: 50cqh;
	--front-hoof-height: 45cqh;

	--outer-leg: rgba(0, 255, 0, 0.5);
	//--outer-front-leg: rgba(0, 255, 0, 0);
	//--outer-rear-leg: rgba(0, 255, 0, 0);

	--tail: rgba(0, 0, 0, 0.5);
	--neck: rgba(0, 0, 255, 0.5);

	--middle: 5px solid rgba(255, 0, 0, 1);
	--body: 1px solid rgba(0, 0, 0, 0);
	--frame-duration: 10s;
	--animation-fill-mode: none;
	//--ease: steps(16, end);
	//--animation-iteration-count: 1; // infinite;
	  --ease: steps(1, end);
  --animation-iteration-count: 1;
}
